* {
  margin: 0;
  padding: 0;
}


.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  background: rgb(15 23 42);
  padding: 10px 10px;
  justify-content: flex-end;
  align-items: center;
}

.name-header {
  margin-right: auto;
  color: rgb(56 189 248);
  font-size: 20px;
}

.name-header > a {
  text-decoration: none;
  color: inherit;
}

.navbar > .bar-home {
  display: none;
}

.navbar ul {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.navbar li {
  margin-left: 15px;
  margin-right: 15px;
  list-style-type: none;
}

.navbar li a {
    background: #013467;
  border-radius: 16px;
  text-decoration: none;
  width: 100%;
  color: rgb(56 189 248);
  padding: 10px 20px;
}

.navbar li a:hover {
  background: #1E6583;
}

.sidebar {
  display: none;
}

/*section 1 */
.section-1 {
  display: block;
  background: black;
}

/*product section*/
.product-section {
  padding: 150px;
  color: white;
  background: black;
  text-align: center;
  font-size: 30px;
}


.product-image {
  padding: 70px;
  background: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: auto;
}

.product-image img {
  max-width: 18%;
  margin-left: 8px;
  margin-right: 8px;
}

.download {
  display: block;
  background: #4700D8;
  border-radius: 25px;
  padding: 15px 10px;
  border: 3px solid white;
  text-decoration: none;
  color: white;
  margin: auto;
  width: 140px;
  text-align: center;
}
.download:hover{
  background: rgba(71, 85, 105);
}

.container-link {
  background: skyblue;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* section-2*/
/*about*/
.about-section {
  background: #22577E;
  padding-bottom: 20px ;

}

.about-section img {
  max-width: 40%;
  height: auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  margin-top: 20px;
}

.about-box {
  padding: 40px 0;
  margin: auto;
  background: #3A3845;
  color: white;
}

.about-box > * {
    padding: 20px 0;
    text-align: center;
    font-size: 3.5em;
}

.about-box p {
  padding: 20px 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/*join*/
.join-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  padding-top: 50px;
  padding-bottom: 50px ;
  text-align: center;
  font-size: 30px;
  color: white;
}

.join-section p {
  font-size: 25px;
  margin-bottom:  25px;
}
.join-section div {
  display:  inline-block ;

}
.join-box {
  max-width: 50%;
  height:   auto;
  margin-left: 30px;

}
.join-box a {
  color:  black ;
  text-decoration:  none;
  background: rgb(80,184,231);
  border-radius:  25px;
  text-align:   center ;
  padding:  10px 15px;

} 

.join-box a:hover {
  background: rgba(80,184,231,0.6) ;
}

.image-box {
  box-sizing: border-box;
  width: fit-content;
}
.join-section img {
  max-width: 70%;
  height: auto;

}

/* section-3 */
#section-3{
  padding: 45px 0;
  background-color: #00092C;
}

.contact-section {
    margin:  auto;
  text-align: center;
  background: #203239;
  max-width: 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-section h1 {
  font-size: 55px;
  color: white; 
  padding-bottom: 60px;
  align-content: flex-start;

}

.form-contact {
  min-width: 100%;
}

.flex-outer li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-right: 75px;
  padding-left: 75px;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 40px;
}

.flex-outer > li:last-child {
  margin-top: 60px;
}

.flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
  color: white;
  font-size: 20px;
  padding-right: 20px;
}

.flex-outer li button {
  cursor: pointer;
  margin: auto;
  padding: 20px 30px;
  border: none;
  background: #5534A5;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-outer li button:hover {
  background: #A85CF9;

}

.flex-outer li input {
  padding: 15px;
  border: none;
  font-size: 12px;
  width: 70%;
}

.flex-outer li input:focus {
  outline-width: none;
  border: 5px solid #5534A5;
}

/* footer */
footer {
  background: #005555;
  padding: 30px 0;
}

.end-footer {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

.text-footer {
  text-align: center;
  color: white;
  font-size: 25px;
}

.text-footer > h3 {
  padding-bottom: 10px;
}

 .icon-footer  ul > li >:nth-child(2) {
  display: none;
}

.icon-footer ul{
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: centerl;  
}


.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
}


@media only screen and (max-width: 480px) {
  /*navbar & sidebar */
  .navbar > ul {
    display: none
  }

  .navbar{
    justify-content: center;
  }

  .navbar > .name-header {
    margin-right: auto;

  }
    
  .navbar > .bar-home {
    display: block;
  }

  .sidebar {
    position: fixed;
    background-color: rgb(15 23 42);
    width: 40%;
    height: 100vh;
  }

  .sidebar > .name-header {
    font-size: 25px;
    color: white;
    text-align: center;
  }

  .sidebar ul li {
    list-style-type: none;
    display: flex;
    border: 2px solid black;
  }
  .sidebar ul li a {
    text-decoration: none;
    font-size: 17px;
  }



  /*product*/
  .product-section {
    padding: 120px 60px;
    font-size: 25px;
  }

  .product-section h1 {
    padding-bottom: 25px;
  }

  .product-image {
    flex-wrap: wrap;
    padding: 30px 20px ;
  }

  .product-image img {
    max-width: 30%;
    margin: 8px;
  }

  .download {
    padding: 10px 5px;
    width: 140px;
    font-size: 16px;
  }

  /*about */

  .about-box p{
    font-size: 20px;
  } 

  .about-box h1 {
    font-size: 3em;
    padding: 0;
  }

  .about-section img {
    max-width: 60%;
  }

  /*join */

  .join-section {
    flex-direction: column;
    font-size: 25px;
  }

  .join-box {
    margin: auto;
    max-width: 90%;
    padding-bottom: 50px;
  }

  .join-box h1 {
    margin-bottom: 20px;
  }

  .join-box a {
    padding: 7px 13px;
    font-size: 23px;
  }

  /*contact*/


  .section-3 {
    background-color: #203239;
    padding: 45px 0;
  }

  .contact-section {
    max-width: 100%;
    padding: 25px 0
  }

  .flex-outer li {
    flex-direction: column;
  }

  .flex-outer li > label {
    max-width: fit-content;
    max-height: 50px;
  }

  .text-footer {
    font-size: 16px;
  }

  .text-footer h3 {
    font-size: 20px;
  }

  .icon-footer ul > li >:nth-child(2){
    display: inline-block;
  }

  .icon-footer  ul > li >:nth-child(1){
    display: none;
  }

  .end-footer *{
    font-size: 17px;
  }



}

@media only screen and (min-width: 767px) {
   .section-3 {
    background-color: #203239;
    padding: 65px 0;
  }

  .contact-section {
    max-width: 80%;
    padding: 25px 0
  }

  .flex-outer li {
    flex-direction: column;
  }

  .flex-outer li > label {
    max-width: fit-content;
    max-height: 50px;
  }    
}

/* navbar section */
@media only screen and (min-width: 992px){
  .section-3 {
    background-color: #203239;
    padding: 85px 0;
  }

  .contact-section {
    max-width: 80%;
    padding: 25px 0
  }

  .flex-outer li {
    flex-direction: column;
  }

  .flex-outer li > label {
    max-width: fit-content;
    max-height: 50px;
  }    
}